<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blogs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--nav -->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog Admin</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>Blog</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>Type</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>Tag</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/1010/100/100">
                        Jokephp
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="teal active item">Push</a>
            <a href="#" th:href="@{/admin/blogs}" class="item">List</a>
        </div>
    </div>
</div>

<!--middle-->
<div  class="m-container m-padded-tb-big">
    <div class="ui container">
        <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">
            <input type="hidden" name="published" th:value="*{published}">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="original" name="flag" th:value="*{flag}" >
                        <i class="dropdown icon"></i>
                        <div class="text">original</div>
                        <div class="menu">
                            <div class="item" data-value="original">original</div>
                            <div class="item" data-value="Repost">Repost</div>
                            <div class="item" data-value="translate">translate</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="title" th:value="*{title}">
                </div>
            </div>

            <div class="required field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="content" name="content" style="display: none" th:text="*{content}"></textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">Type</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Type</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">ErrorLog</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">Tag</label>
                        <div class="ui fluid selection multiple search  dropdown">
                            <input type="hidden" name="tagIds" th:value="${tagIds}" >
                            <i class="dropdown icon"></i>
                            <div class="default text">Tag</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">FirstPicture</label>
                    <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="Picture Url">
                </div>
            </div>

            <!--<div class="required field">-->
                <!--<textarea name="description" th:text="*{description}" placeholder="description..." maxlength="200"></textarea>-->
            <!--</div>-->

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend" checked th:checked="*{recommend}" class="hidden">
                        <label for="recommend">Recommend</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden">
                        <label for="shareStatement">shareStatement</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">
                        <label for="appreciation">appreciation</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="commentable" name="commentable" th:checked="*{commentable}" class="hidden">
                        <label for="commentable">comment</label>
                    </div>
                </div>
            </div>

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >Back</button>
                <button type="button" id="save-btn" class="ui secondary button">Save</button>
                <button type="button" id="publish-btn" class="ui teal button">Push</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<!-- footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="./static/images/wechat.jpg" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">New Blog:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">The story</a>
                    <a href="#" class="item">The story</a>
                    <a href="#" class="item">The story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">Contact:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">wenliangchen@yahoo.com</a>
                    <a href="#" class="item">Github</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">New:</h4>
                <div class="ui inverted link list">
                    <p class="m-front-thin m-front-spaced m-opacity-mini">this is my blog.</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-front-thin m-front-spaced m-opacity-tiny">Copyright @2019 Designed by Jokephp</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<script>

    //Start Markdown
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
//        path    : "../static/lib/editormd/lib/"
            path    : "/lib/editormd/lib/"
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });


    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });



    $('.ui.form').form({
        fields:{
            title :{
                identifier: 'title',
                rules: [{
                    type:'empty',
                    prompt:'Title:Please type the Blog title'
                }]
            },
            content :{
                identifier: 'content',
                rules: [{
                    type:'empty',
                    prompt:'Title:Please type the Blog content'
                }]
            },
            typeId :{
                identifier: 'typeId',
                rules: [{
                    type:'empty',
                    prompt:'Title:Please type the Blog type'
                }]
            },
            firstPicture :{
                identifier: 'firstPicture',
                rules: [{
                    type:'empty',
                    prompt:'Title:Please type the firstPicture url'
                }]
            }
        }
    });

</script>
</body>
</html>