<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <neta name = "viewport" content="width=device-width,initial-scale =1.0"></neta>
    <title>Add Types Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/min.css">
</head>
<body>

<!--nav -->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class = "ui blue header item">Add Types</h2>
            <a href="login.html" class="m-item active item m-hidden-mobile"><i class="home icon"></i> Main</a>
            <a href="login.html" class="m-item item m-hidden-mobile"><i class="idea icon"></i>Catalogue</a>
            <a href="login.html" class="m-item item m-hidden-mobile"><i class="tags icon"></i>Tags</a>
            <div class="right menu">
                <div class="ui m-item m-hidden-mobile dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/1010/100/100">
                        Jokephp
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top-mobile m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/types/input}" class="active blue item">Add</a>
                <a href="#" th:href="@{/admin/types}" class=" blue item">List of Type</a>
            </div>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--middle -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${type}"  th:action="${id}==null ? @{/admin/types} : @{/admin/types/{id}(id=${id})}" class="ui form">
            <input type="hidden" name="id" th:value="${id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui blue basic label">Name of Type</label>
                    <input type="text" name="name" placeholder="Name of Type" th:value="${name}">
                </div>
            </div>

            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">Failed</div>
                <p th:errors="*{name}">The input Value is illegal</p>
            </div>
            /*/-->

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)"> Back</button>
                <button class="ui blue submit button">Submit</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="./static/images/wechat.jpg" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">New Blog:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">The story</a>
                    <a href="#" class="item">The story</a>
                    <a href="#" class="item">The story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">Contact:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">wenliangchen@yahoo.com</a>
                    <a href="#" class="item">Github</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">New:</h4>
                <div class="ui inverted link list">
                    <p class="m-front-thin m-front-spaced m-opacity-mini">this is my blog.</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-front-thin m-front-spaced m-opacity-tiny">Copyright @2019 Designed by Jokephp</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-hidden-mobile');
    })
    $('.ui.dropdown').dropdown({
        on:'hover'
    });
    $('.ui.form').form({
        fields:{
            title :{
                identifier: 'name',
                rules: [{
                    type:'empty',
                    prompt:'Please input the type name'
                }]
            }
        }
    });


</script>
</body>
</html>