<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <neta name = "viewport" content="width=device-width,initial-scale =1.0"></neta>
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/min.css">
</head>
<body>

    <!--nav -->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
        <div class="container">
            <div class="ui inverted secondary stackable menu ">
                <h2 class = "ui blue header item">Blog</h2>
                <a href="index.html" class="m-item item m-hidden-mobile"><i class="home icon"></i> Main</a>
                <a href="index.html" class="m-item item m-hidden-mobile"><i class="idea icon"></i>Catalogue</a>
                <a href="index.html" class="m-item item m-hidden-mobile"><i class="tags icon"></i>Tags</a>
                <a href="index.html" class="m-item item m-hidden-mobile"><i class="clone icon"></i>Archive</a>
                <a href="index.html" class="m-item item m-hidden-mobile"><i class="info icon"></i>About</a>
                <div class="right m-item item m-hidden-mobile">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top-mobile m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--middle -->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--left plane-->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <div class="ui middle two column grid">
                            <div class="column">
                                <h3 class="ui teal header">Blog</h3>
                            </div>
                            <div class="right aligned column">
                                About <h3 class="ui red header m-inline-block m-front-thin" th:text="${page.totalElements}">12</h3> Blog
                            </div>
                        </div>
                    </div>
                    <!--content-->
                    <div class="ui attached  segment">
                        <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})" class="m-black"  target="_blank" th:text="${blog.title}"> Are u know me?</a></h3>
                                    <p class="m-front" th:text="|${blog.description}">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" th:src="@{${blog.user.avatar}" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd)}">2019-12-09</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> <span th:text="${blog.views}"> 222</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin" th:text="$blog.type.name">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" th:href="@{/blog/{id}{id=${blog.id}}" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400"  th:src="@{${blog.fristPicture}}" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!--/*-->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header">Are u know me?</h3>
                                    <p class="m-front">do you know me?????</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2019-12-09
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 222
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--*/-->

                    </div>
                    <!--footer-->
                    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini blue basic button">Prev</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini blue basic button">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--right plane-->
                <div class="five wide column">
                    <!--Catalogue-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i> Catalogue
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">More<i class="angle double right icon"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui blue segment">
                            <div class="ui fluid vertical menu" >
                                <a href="#" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}">Study</span>
                                    <div class="ui blue basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
                            <!--/*-->
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    Study
                                    <div class="ui blue basic left pointing label">13</div>
                                </a>
                            </div>
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    Study
                                    <div class="ui blue basic left pointing label">13</div>
                                </a>
                            </div>
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    Study
                                    <div class="ui blue basic left pointing label">13</div>
                                </a>
                            </div>
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    Study
                                    <div class="ui blue basic left pointing label">13</div>
                                </a>
                            </div>
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">
                                    Study
                                    <div class="ui blue basic left pointing label">13</div>
                                </a>
                            </div>
                            <!--*/-->

                        </div>
                    </div>
                    <!--Tags -->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i> Tags
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">More<i class="angle double right icon"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui blue segment">
                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny" th:each="tag : $ {tags}"><span th:text="${tag.name}"> fffffffffff </span> <div class="detail" th:text="${#array.length(tag.blogs)}">11</div> </a>
                            <!--/*-->

                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny">fffffffffff  <div class="detail">11</div> </a>
                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny">fffffffffff  <div class="detail">11</div> </a>
                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny">fffffffffff  <div class="detail">11</div> </a>
                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny">fffffffffff  <div class="detail">11</div> </a>
                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny">fffffffffff  <div class="detail">11</div> </a>
                            <a href="#" target="_blank" class="ui blue basic left pointing label m-margin-tb-tiny">fffffffffff  <div class="detail">11</div> </a>

                            <!--*/-->
                        </div>
                    </div>
                    <!--new Blog-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment ">
                            <i class="bookmark icon"></i> Recommend
                        </div>
                        <div class="ui segment" th:each="blog : ${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id}" target="_blank" class="m-black m-front-thin" th:text="${blog.title}">New story</a>
                        </div>
                        <!--/*-->
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-front-thin">New story</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-front-thin">New story</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-front-thin">New story</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-front-thin">New story</a>
                        </div>
                        <!--*/-->
                    </div>
                    <!--QR Code-->
                    <h4 class="ui horizontal divider header">Scan me!!!</h4>
                    <div class="ui centered card "style="width:11em">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width:110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-front-thin m-front-spaced ">New Blog:</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">The story</a>
                        <a href="#" class="item">The story</a>
                        <a href="#" class="item">The story</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-front-thin m-front-spaced ">Contact:</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">wenliangchen@yahoo.com</a>
                        <a href="#" class="item">Github</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-front-thin m-front-spaced ">New:</h4>
                    <div class="ui inverted link list">
                        <p class="m-front-thin m-front-spaced m-opacity-mini">this is my blog.</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-front-thin m-front-spaced m-opacity-tiny">Copyright @2019 Designed by Jokephp</p>
        </div>
    </footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-hidden-mobile');
        })
    </script>
</body>
</html>