<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <neta name = "viewport" content="width=device-width,initial-scale =1.0"></neta>
    <title>Types</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/min.css">
</head>
<body>

<!--nav -->
<nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class = "ui blue header item">Types</h2>
            <a href="index.html" class="m-item item m-hidden-mobile"><i class="home icon"></i> Main</a>
            <a href="index.html" class="m-item item m-hidden-mobile"><i class="idea icon"></i>Catalogue</a>
            <a href="index.html" class="m-item item m-hidden-mobile"><i class="tags icon"></i>Tags</a>
            <a href="index.html" class="m-item item m-hidden-mobile"><i class="clone icon"></i>Archive</a>
            <a href="index.html" class="m-item item m-hidden-mobile"><i class="info icon"></i>About</a>
            <div class="right m-item item m-hidden-mobile">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top-mobile m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--middle -->
<div class="m-container-small m-padded-tb-big">
   <div class="ui container">
       <!--header-->
       <div class="ui top attached segment">
           <div class="ui middle two column grid">
               <div class="column">
                   <h3 class="ui teal header">Catalogue</h3>
               </div>
               <div class="right aligned column">
                   About <h3 class="ui red header m-inline-block m-front-thin">12</h3> Tags
               </div>
           </div>
       </div>

       <div class="ui attached segment m-padded-tb-large">
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic blue button">Think</a>
               <div class="ui basic blue left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
           <div class="ui labeled button m-margin-tb-tiny">
               <a href="#" class="ui basic button">ThinkCode</a>
               <div class="ui basic left pointing label">2</div>
           </div>
       </div>

       <div class="ui blue top attached segment">
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>
           <div class="ui padded vertical segment m-padded-tb-large mobile-lr-clear">
               <div class="ui mobile reversed stackable grid">
                   <div class="ui eleven wide column">
                       <h3 class="ui header">Are u know me?</h3>
                       <p class="m-front">do you know me?????</p>
                       <div class="ui stackable grid">
                           <div class="eleven wide column">
                               <div class="ui mini horizontal link list">
                                   <div class="item">
                                       <img src="https://picsum.photos/id/1010/100/100" alt="" class="ui avatar image">
                                       <div class="content"><a href="#" class="header">Jokephp</a> </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i> 2019-12-09
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i> 222
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="index.html" target="_blank" class="ui blue basic label m-padded-tiny m-front-thin">Get Know!</a>
                           </div>
                       </div>
                   </div>
                   <div class="ui five wide column">
                       <a href="#" target="_blank">
                           <img src="https://picsum.photos/id/1010/800/400" alt="" class="ui rounded image">
                       </a>
                   </div>
               </div>
           </div>

       </div>
       <div class="ui bottom attached segment">
           <div class="ui middle aligned two column grid">
               <div class="column">
                   <a href="#" class="ui mini blue basic button">Prev</a>
               </div>
               <div class="right aligned column">
                   <a href="#" class="ui mini blue basic button">Next</a>
               </div>
           </div>
       </div>

   </div>
</div>
<br>
<br>
<!-- footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">New Blog:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">The story</a>
                    <a href="#" class="item">The story</a>
                    <a href="#" class="item">The story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">Contact:</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">wenliangchen@yahoo.com</a>
                    <a href="#" class="item">Github</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-front-thin m-front-spaced ">New:</h4>
                <div class="ui inverted link list">
                    <p class="m-front-thin m-front-spaced m-opacity-mini">this is my blog.</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-front-thin m-front-spaced m-opacity-tiny">Copyright @2019 Designed by Jokephp</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-hidden-mobile');
    })



</script>
</body>
</html>